@{
    ViewData["Title"] = "Shop";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css\style.css" rel="stylesheet">
</head>

<body class="background">
    <main class="container item-div-border">
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <img src="~/Images/floppa.webp" alt="Floppa T-Shirt">
        </div>


        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <span>T-Shirt</span>
                <h1 style="color: white;">Floppa T-Shirt</h1>
                <p style="color: white;">The best of floppas</p>
            </div>

            <!-- Product Configuration -->
            <div class="product-configuration">
                <!-- Product Pricing -->
                <div class="product-price">
                    <span style="color:white">$13.99</span>
                    <a href="#" class="cart-btn">Add to cart</a>
                </div>
            </div>
    </main>
</body>
</html>

